syntax: glob
bin/*
data/*
obj/*
common-data/*
*.case
*.dat
*.layout.cbTemp
.fuse_hidden*
common/*
case1.sav3
*.cbp.cbTemp
stdout.txt
MyLittleInvestigations.cscope_file_list
zlib1.dll
libvorbisfile-3.dll
libvorbis-0.dll
libpng16-16.dll
libogg-0.dll
libfreetype-6.dll
Thumbs.db
SDL2_ttf.dll
SDL2_mixer.dll
SDL2_image.dll
SDL2.dll
src/Debug/*
Debug/*
ipch/*
Release/*
src/Release/*
*.dll
**/*.DS_Store
**/._*
MyLittleInvestigations.app/*
*.depend
*.layout
common-data-debug/*
MyLittleInvestigations.old.app*
osx/AppFileStaging/Contents/MacOS/MyLittleInvestigations
osx/AppFileStaging/Contents/MacOS/MyLittleInvestigationsLauncher
osx/AppFileStaging/Contents/MacOS/MyLittleInvestigationsUpdater
osx/AppFileStaging/Contents/MacOS/UpdaterHelper
MLI.app/*
osx/Packaging/*
osx/DiskImageFolder/*
osx/AppFileStaging/Contents/Frameworks/*
MLI.dmg
MyLittleInvestigations.mpkg/*
*.sh
My Little Investigations.dmg
MyLittleInvestigations*.dmg
mli-versions.xml
*.cscope_file_list
*.pro
*.pro.user
build-*
*.0cf0304
*.save-failed
osx/AppFileStaging/Contents/Resources/Cases/
osx/AppFileStaging/Contents/Resources/CelestiaMediumRedux1.5.ttf

