#include "resource.h"

#ifndef RESOURCE_RC
#define RESOURCE_RC

#ifdef GAME_EXECUTABLE
MANIFEST_RESOURCE_ID RT_MANIFEST "MyLittleInvestigations.exe.manifest"
#endif
#ifdef UPDATER
MANIFEST_RESOURCE_ID RT_MANIFEST "MyLittleInvestigationsUpdater.exe.manifest"
#endif
#ifdef LAUNCHER
MANIFEST_RESOURCE_ID RT_MANIFEST "MyLittleInvestigationsLauncher.exe.manifest"
#endif

IDI_ICON ICON "mli.ico"

#endif

